@import url('https://fonts.googleapis.com/css?family=Dosis:200,400');

body{
  background:teal;
  background-image:url(http://demo.bluarancio.com/germinacampus/images/s2.jpg)
}

hr {
  border: 0;
  border-top: 3px solid white;
  border-bottom: 1px solid white;
  padding: 2px 0;
}

.formwrap{
  width:320px;
  background: rgba(0,0,0,.7);
  margin:auto;
  padding:10px;
  margin-top: 15%;
}

.formwrap h1{
 font-family: 'Dosis', sans;
  font-size: 22px;
  font-weight:200;
  color:white;
  text-transform:uppercase;
  margin:0;
}
.formwrap h2{
 font-family: 'Dosis', sans;
  font-size: 16px;
  font-weight:200;
  color:white;
  text-transform:uppercase;
}

.formwrap p{
 font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  color:white;
  text-transform:none;
}

::-webkit-input-placeholder {color: white; text-transform:uppercase;}
:-moz-placeholder { /* Firefox 18- */color: white; text-transform:uppercase; }
::-moz-placeholder {  /* Firefox 19+ */color: white; text-transform:uppercase; }
:-ms-input-placeholder {  color: white; text-transform:uppercase; }

input:focus {
  /*border-color: rgba(82, 168, 236, 0.8);*/
  border-color: rgba(252, 247, 238, 0.8);
  outline: 0;
  outline: thin dotted \9;
  color:white;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 247, 238, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 247, 238, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 247, 238, 0.6);
}


.test2{
  border: 1px solid #444;
background:#232323;
 line-height: 1.2em;
  padding: 0.5em 1em;
  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  color:white;
}
/*select*/
.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px;
  width:100%;
  text-transform:uppercase;
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
  width: 0;
  height: 0;
  border: 5px dashed;
  border-color: #9E988E transparent;
  pointer-events: none;
  text-transform:uppercase;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  font-family: 'Dosis', sans;
  width: 170%;
  margin: 0;
   line-height: 1.2em;
  font-size: 1em;
  text-transform:uppercase;
  padding: 0.5em 1em;
  color: #9E988E;
  /* Fallback for IE 8 */
  background: red;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none; 
  
  

}
.dropdown-select:focus {
  z-index: 3;
  width: 100%; 
   border-color: rgba(252, 247, 238, 0.8);
  outline: 0;
  outline: thin dotted \9;
  color:#FCF7EE;

 
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #232323;
  border-radius: 0px;
  cursor: pointer;
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}

input[type=date], select{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 12px);
  text-transform:uppercase;
  padding-left:12px;
}
select{
  -webkit-appearance: none;
  border: none;
}

textarea{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 14px);
  text-transform:none;
  padding-left:12px;
}


input[type=text]{

  font-family: 'Dosis', sans;
  font-size: 13px;
  font-weight:200;
  line-height: 2.1em; 
  color:#FCF7EE !important;
  background: transparent;
  border: 1px solid white;
  border-radius: 0px; 
  width: calc(100% - 12px);
  text-transform:none;
  padding-left:12px;
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
  top:20px;
    position: relative;
  margin:auto;

    width: 100px;
    height: 42px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

/* ### ### ### 01 */
.b01_simple_rollover {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
  font-family: 'Dosis', sans;
  font-size: 15px;
  font-weight:200;
  text-transform:uppercase;
}

.b01_simple_rollover:hover {
    color: #ffffff;
    background-color: transparent;
    border:1px solid white;  
}